
{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="">
      {{ with .Site.Params.twitter }}
        <div class="social-icon">
          <i class="fa fa-twitter" aria-hidden="true" style="margin-right: 2%;"></i><span>Tweet me @</span><a href="https://twitter.com/{{ . }}" target="_blank" title="Twitter">{{ . }}</a>
        </div>
      {{ end }}
      {{ with .Site.Params.email }}
        <div class="social-icon">
          <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 2%;"></i><span>Email me </span><a href="mailto:{{.}}" title="Email">{{ . }}</a>
        </div>
      {{ end }}
      {{ with .Site.Params.linkedin }}
        <div class="social-icon">
          <i class="fa fa-linkedin" aria-hidden="true" style="margin-right: 2%;;"></i><span>Add me on Linkedin </span><a href="https://www.linkedin.com/in/{{ . }}" target="_blank" title="Linkedin">{{ . }}</a>
        </div>
      {{ end }}
      {{ with .Site.Params.gitlab }}
        <div class="social-icon">
          <i class="fa fa-gitlab" aria-hidden="true" style="margin-right: 2%;"></i><span>GitLab profile </span><a href="https://gitlab.com/{{ . }}" target="_blank" title="GitLab">{{ . }}</a>
        </div>
      {{ end }}
      {{ with .Site.Params.github }}
        <div class="social-icon">
          <i class="fa fa-github" aria-hidden="true" style="margin-right: 2%;"></i><span>GitHub profile </span><a href="https://github.com/{{ . }}" target="_blank" title="GitHub">{{ . }}</a>
        </div>
      {{ end }}
    </div>
</main>

{{ end }}