{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2 class="blog-roll-title">
          <a href="{{ .Permalink }}">
            <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
              <use xlink:href="#bookmark"></use>
            </svg>
            {{ .Title }}
          </a>
        </h2>
        <div class="blog-roll-meta-data">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
            {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
            {{ .PublishDate.Format $dateFormat }}
          <span>|</span>
          {{ if .Site.Params.readingTime }}
          &nbsp;<i class="fa fa-clock-o"></i>&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}minutes
          {{ end }}
          <p class="blog-description">
            {{ .Description }}
          </p>
          {{ with .Params.tags }}
            <div class="tags">
              <ul class="blog-roll-tags" aria-label="tags">
                {{ range . }}
                  <li>
                    <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                      <use xlink:href="#tag"></use>
                    </svg>
                    <a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
