<div class="footer-social">
  {{ with .Site.Params.twitter }}
    <div class="social-icon">
      <a href="https://twitter.com/{{ . }}" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.gitlab }}
    <div class="social-icon">
      <a href="https://gitlab.com/{{ . }}" target="_blank" title="GitLab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.github }}
    <div class="social-icon">
      <a href="https://github.com/{{ . }}" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.linkedin }}
    <div class="social-icon">
      <a href="https://www.linkedin.com/in/{{ . }}" target="_blank" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.instagram }}
    <div class="social-icon">
      <a href="https://www.instagram.com/{{ . }}" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.pinterest }}
    <div class="social-icon">
      <a href="https://www.pinterest.co.uk/{{ . }}/_saved/" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
    </div>
  {{ end }}
  {{ with .Site.Params.email }}
    <div class="social-icon">
      <a href="mailto:{{.}}" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  {{ end }}
</div>
